/*Fonts
font-family:'Playfair Display',serif;
font-family:'Ubuntu',sans-serif;
@font-face{
	src: url(fonts/Roboto/Roboto-Regular.ttf);
	font-family:Roboto-Regular;
}
@font-face{
	src: url(fonts/Roboto/Roboto-Bold.ttf);
	font-family:Roboto-Bold ;
}
h1{
	font-family:Roboto-Regular;
	font-size:30px ;
	font-weight:1200 ;
}
h2{
	font-family:Roboto-Bold ;
	font-size:30px ;
	font-weight:700 ;
	border: 1px solid red;
}
color: black #000000;
ash: #626262;
*/
/*Common Strats*/
body{
	margin: 0px;
	padding: 0px;
	font-family: 'Playfair Display',serif;
	font-size:16px ;
	font-weight:400 ;
	color:#626262 ;
}
/*Common Ends*/
/*Header Starts*/
header{
	padding: 20px 0px;
	
	}
.wrapper{
	overflow: hidden;
	margin: 0px auto;
	width: 90%;
	
	
}
.logo{
	width: 8%;
	float: left;

}
.logo a{}
.logo a img{
	width: 100%;
}
.menu{
	width: 70%;
	float: right;
}
.menu ul{
	margin: 0;
       float: right;
}
.menu ul li{
	list-style: none;
	float: left;
	display: inline-block;
}
.menu ul li a{
    margin: 0px 15px;
    padding: 3px 2px;
    display: inline-block;
    font-size: 15px;
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
   border-bottom:1px solid transparent ;
}
.menu ul li:last-child a{
	margin-right: 0px;
}
.menu ul li a:hover{
	color: #000000;
	border-bottom:1px solid #000000 ;
}
/*Header Ends*/
/*Banner Starts*/
.banner{}
.b_img{}
.b_image img{
	width: 100%;
}
/*Banner Ends*/
/*Perfect Start*/
.perfect{
	padding:70px 0 ;
}
.wrapper2{
	overflow: hidden;
	width: 78%;
	margin: 0px auto;
	
}
.p_content{}
.c_light{
	margin: 0;
	font-family:'Ubuntu',sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #b4ad9e;
	text-transform: uppercase;
}
.c_h1{
	margin: 20px 0 30px;
	font-size: 30px;
	font-weight: 400;
}
.c_text{
	margin: 0;
	line-height: 25px;
}
.mb_45{
	margin-bottom: 45px;
}
/*Perfect End*/
/*Blog Starts*/


.blog1{
	padding: 70px 0 10px;
}
.blog_content{}
.s_blog{
	margin-bottom: 60px;
	width: 47%;
	
	float: left;
} 
.s_blog:nth-child(even){
	
	margin-left: 6%;
}
.blog_img{
	margin-bottom:25px ;
}
.blog_img img{
	width: 100%;
	/*Blog Ends*/
}
/*Sign Up Starts*/
.newslettr{
	background-color:#f0f0f0;
	padding: 70px 0;
}
.signup{
	text-align: center;
}
.s_h1{
	color: #333333;
	margin-top: 0;
	margin-bottom: 70px;
}
.signupform{
	      position: relative;
          width: 400px;
         
          margin: 0 auto;
          
}
.signupform input{
	font-family: 'Playfair Display',serif;
	font-size: 14px;
	color: #626262;
	width: 344px;
	height: 45px;
	border: none;
	border-bottom: 1px solid #000000;
	background: transparent;
	padding-left: 5px;
	padding-right: 51px;
}
.signupform input:focus {
	outline: 0;
}
.signupform button {
	position: absolute;
    background-color: transparent;
	border: none;
	cursor: pointer;
	top: 15px;
	right: 0;
}
.signupform button:focus{
	outline: none;
}
.signupform img{}
.learnbutton{
	text-align: center;
}
/*Sign Up End*/
.learn{
	margin-top: 70px;
	margin-bottom: 100px;
}
.learnbutton a{
	text-decoration:none;
	color: #626262;
	font-size: 20px;
	border: 1px solid #626262;
	padding: 20px 30px;
}
.footer_content{
	margin-top: 150px;
	min-height: 90px;
	background-color: #f0f0f0;
}